altair==5.3.0
attrs==23.2.0
blinker==1.8.2
cachetools==5.3.3
click==8.1.7
gitdb==4.0.11
gitpython==3.1.43
jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.8.0
mdurl==0.1.2
numpy==1.26.4
openai==0.28.0
pandas==2.2.0
pillow==10.3.0
protobuf==4.25.3
pyarrow==16.1.0
pydeck==0.9.1
pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
referencing==0.35.1
rich==13.7.1
rpds-py==0.18.1
scenariogeneration==0.14.4
shapely==2.0.1
six==1.16.0
smmap==5.0.1
streamlit==1.35.0
sympy==1.12
tenacity==8.3.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typing-extensions==4.12.2
tzdata==2024.1
watchdog==4.0.1