aiohttp==3.9.4
aiosignal==1.3.1
altair 
anyio 
argon2-cffi 
argon2-cffi-bindings
asttokens 
async-lru 
async-timeout==4.0.3
attrs 
Babel 
backcall 
beautifulsoup4 
bleach
blinker
Bottleneck
Brotli 
cachetools
certifi
cffi
charset-normalizer 
click
colorama 
comm 
contourpy
cycler 
debugpy
decorator
defusedxml
docopt==0.6.2
elementpath==4.4.0
exceptiongroup
executing 
fastjsonschema
fonttools==4.25.0
frozenlist==1.4.1
gitdb 
GitPython 
gmpy2 
idna 
importlib-metadata 
importlib-resources 
ipykernel
ipython==8.12.3
ipython-genutils 
ipywidgets 
jedi
Jinja2 
json5 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
kiwisolver 
lxml==5.2.1
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mdurl
mistune 
mkl-fft 
mkl-random 
mkl-service==2.4.0
mpmath 
multidict==6.0.5
munkres==1.1.4
nbclient
nbconvert==7.16.4
nbformat 
nest-asyncio
notebook
notebook_shim 
numexpr 
numpy 
openai==0.28.0
overrides
packaging 
pandas==1.3.5
pandocfilters 
parso 
pickleshare 
pillow 
pipreq==0.4
pipreqs==0.5.0
platformdirs 
ply==3.11
prometheus-client 
prompt-toolkit 
protobuf==3.20.3
psutil 
pure-eval 
pyarrow 
pybind11==2.12.0
pyclothoids==0.1.5
pycparser 
pydeck 
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks
python-dateutil
python-json-logger 
pytz 
pywin32==305.1
pywinpty 
PyYAML 
pyzmq 
referencing 
requests
rfc3339-validator 
rfc3986-validator 
rich 
rpds-py 
scenariogeneration==0.14.4
scipy==1.13.0
Send2Trash
shapely 
sip 
six 
smmap 
sniffio 
soupsieve 
stack-data 
streamlit 
sympy 
tenacity 
terminado 
tinycss2
toml 
tomli 
toolz 
tornado 
tqdm==4.66.2
traitlets 
typing_extensions 
tzdata 
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
win-inet-pton 
xmlschema==2.5.1
yarg==0.1.9
yarl==1.9.4
zipp 
